@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/reset.css" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" href="~/Content/requisicao.css" />
    <title>Requisição Global - Formulário</title>
</head>
<body>
    <form class="container">
        <header>
            <div class="container-cont cont-header">
                <div class="logo">
                    <img src="../img/fatec-logo.png" alt="Logo FATEC" />
                </div>
                <div class="area-btn">
                    <button class="btn danger">@Html.ActionLink("Sair", "../Login/Login")</button>
                </div>
            </div>
        </header>

        <section class="container-cont">
            <h2 class="titulo">Requerimento Global</h2>
            <div class="campos">
                <div class="campo">
                    <div class="c-select">&#x2039;</div>
                    <label for="curso">Curso</label>
                    <select name="curso" id="curso">
                        <option value="">Selecione</option>
                        <option value="0">Gestão da Tecnologia da Informação</option>
                        <option value="1">Gestão Comercial</option>
                        <option value="2">Secretariado</option>
                    </select>
                </div>
                <div class="campo">
                    <div class="c-select">&#x2039;</div>
                    <label for="turno">Turno</label>
                    <select name="turno" id="turno">
                        <option value="">Selecione</option>
                        <option value="0">Manhã</option>
                        <option value="1">Tarde</option>
                        <option value="2">Noite</option>
                    </select>
                </div>
                <div class="campo">
                    <label for="celular">Celular</label>
                    <input type="text" name="celular" id="celular" />
                </div>
                <div class="campo">
                    <div class="c-select">&#x2039;</div>
                    <label for="opReq">Opções de Requerimento Global</label>
                    <select name="opReq" id="opReq">
                        <option value="">Selecione</option>
                        <option value="0">1) Beneficios da lei 6.202/75 (gestante/ prote a partir do 8º mês) - Anexar atestado médico</option>
                        <option value="1">2) Beneficio do decreto Lei nº 1044/69 (Exercício domiciliar partir de 15 dias) - Anexar atestado</option>
                        <option value="2">3) Cancelamento de matricula (devolver a carteirinha da Fatec)</option>
                        <option value="3">4) Desistencia da matricula em disciplina</option>
                    </select>
                </div>
                <div class="switch-trancamento">
                    <div class="label">Trancamento de Matrícula</div>
                    <label class="switch">
                        <input type="checkbox" id="checkBox" onclick="abrirFecharCampo()">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="campo" id="campoTrancamento">
                    <div class="c-select">&#x2039;</div>
                    <select name="tranqMat" id="tranqMat">
                        <option value="">Selecione</option>
                        <option value="0">Falta de base teórica para acompanhar o curso</option>
                        <option value="1">Falta de interesse com o curso</option>
                        <option value="2">falta de motivação para continuar</option>
                        <option value="3">Falta de recursos/infra-estrutura/professores capacitados</option>
                        <option value="4">Incapacidade para o acompanhamento do processo de ensino-aprendizagem</option>
                        <option value="5">Ingressou em outra escola qualquer</option>
                        <option value="6">Ingressou em outra faculdade particular</option>
                        <option value="7">Ingressou em outra faculdade pública</option>
                        <option value="8">Insatisfação com o curso</option>
                        <option value="9">Motivos particulares</option>
                        <option value="10">Motivos profissionais (mudança de turno de trabalho, cidade, atibvidades)</option>
                        <option value="11">Problemas de saúde pessoal e/ou familiar não amparadas pela Regulamentação de Graduação</option>
                    </select>
                </div>
                <div class="campo">
                    <label for="txtJustificar">
                        Justificar abaixo o motivo do requerimento
                    </label>
                    <textarea name="txtJustificar" id="txtJustificar"></textarea>
                </div>
                <div class="campo">
                    <label for="anexo">Anexo</label>
                    <input type="file" name="anexo" id="anexo" />
                </div>
            </div>
            <div class="botoes-form">
                <button type="submit" class="btn danger">Enviar</button>
            </div>
        </section>
    </form>
</body>
</html>
<script src="~/Scripts/formulario.js"></script>
